
.fizz{
    font-weight:200;
    color:blue
    }

.buzz {
    font-weight: 200;
    color: mediumpurple;
}

.fizzbuzz {
    font-weight: bolder;
    color: darkred;
}

.math {
    font-size: medium;
    font-weight: bold;
    color:rebeccapurple;

}














