
.fizz{
    font-weight:bolder;
    color:darkolivegreen
    }

.buzz {
    font-weight: bolder;
    color: mediumvioletred;
}

.fizzbuzz {
    font-weight: bolder;
    color: darkred;
}

.math {
    font-size: medium;
    font-weight: bold;
    color:rebeccapurple;

}














